<div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <a  routerLink="/home">
              <img src="./assets/images/logo.jpg" height="50px" width="86px">
            </a>
          </div>
          <div class="header-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchtext">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="searchBurger()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="hcartbox">
            <div class="header-shop-cart">
              <a routerLink="/orderdetails">
                <div class="hcartqnt">CART</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>

<!-- <app-order-details></app-order-details> -->